* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}
button:focus {
    outline: none;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.btn-cart {
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
    line-height: 38px;
    padding: 0 19px 0 19px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
}
.btn-cart:after {
    content: "▾";
    font-size: 24px;
    margin-left: 5px;
}
.btn-cart:hover {
    background-color: #ffffff;
    color: #f16d7f;
}

.products {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;

}

.buy-btn {
    height: 39px;
    padding: 0 20px;
    background-color: cadetblue;
    color: #ffffff;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.buy-btn:hover {
    color: cadetblue;
    background-color: #ffffff;
}